.pageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;

  @media(min-width: 1200px) {
    max-width: 2000px;
  }
}

.toolbar {
  background: rgb(125, 95, 76);
  background: linear-gradient(
    90deg,
    rgba(125, 95, 76, 1) 8%,
    rgba(102, 62, 37, 1) 37%
  );
  color: #191817;
  position: relative;
  z-index: 101;
  height: auto;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.toolbarLogo {
}
